{% extends "base.html" %}

{% block title %}Add Usage{% endblock %}

{% block content %}

<h1>Add Usage</h1>

<form method="POST" action="/add-usage">

    <div class="form-group">

        <label>Subscription</label>

        <select name="subscription_id" required>

            <option value="">Select Subscription</option>

            {% for subscription in subscriptions %}

            <option value="{{ subscription[0] }}">
                #{{ subscription[0] }} - {{ subscription[1] }} - {{ subscription[2] }}
            </option>

            {% endfor %}

        </select>

    </div>


    <div class="form-group">

        <label>Usage Date</label>

        <input
            type="date"
            name="usage_date"
            required
        >

    </div>


    <div class="form-group">

        <label>Usage Amount</label>

        <input
            type="number"
            name="usage_amount"
            min="0"
            placeholder="Enter usage amount"
            required
        >

    </div>


    <button type="submit" class="btn">
        Add Usage
    </button>

    <a href="/usage" class="cancel-btn">
        Cancel
    </a>

</form>

{% endblock %}